WITH valid_trips AS (
    -- Step 1: Find valid trips (both client and driver are not banned)
    SELECT 
        t.request_at,
        t.status
    FROM Trips t
    JOIN Users u1 ON t.client_id = u1.users_id 
    JOIN Users u2 ON t.driver_id = u2.users_id
    WHERE u1.banned = 'No'
      AND u2.banned = 'No'
      AND t.request_at BETWEEN '2013-10-01' AND '2013-10-03'
),
daily_stats AS (
    -- Step 2: Count total trips and cancelled trips per day
    SELECT 
        request_at AS Day,
        COUNT(*) AS total_trips,
        SUM(CASE 
            WHEN status IN ('cancelled_by_driver', 'cancelled_by_client') 
            THEN 1 
            ELSE 0 
        END) AS cancelled_trips
    FROM valid_trips
    GROUP BY request_at
)
-- Step 3: Calculate cancellation rate
SELECT 
    Day,
    ROUND(cancelled_trips / total_trips, 2) AS 'Cancellation Rate'
FROM daily_stats
ORDER BY Day;
