WITH single_numbers AS (
    -- Step 1: Find numbers that appear only once
    SELECT num
    FROM MyNumbers
    GROUP BY num
    HAVING COUNT(*) = 1
)
-- Step 2: Get the maximum single number (returns NULL if none exists)
SELECT MAX(num) AS num
FROM single_numbers;
SELECT MAX(num) AS num
FROM (
    SELECT num
    FROM MyNumbers
    GROUP BY num
    HAVING COUNT(*) = 1
) AS t;
