-- 626. Exchange Seats

-- Solution 1: Using CASE WHEN (Standard SQL, more portable)
SELECT
    CASE
        WHEN id % 2 = 1 AND id = (SELECT COUNT(*) FROM seat) THEN id
        WHEN id % 2 = 1 THEN id + 1
        ELSE id - 1
    END AS id,
    student
FROM seat
ORDER BY id;

-- Solution 2: Using IF function (MySQL specific)
SELECT
    IF(
        id % 2 = 1 AND id = (SELECT COUNT(*) FROM seat),
        id,
        IF(
            id % 2 = 1,
            id + 1,
            id - 1
        )
    ) AS id,
    student
FROM seat
ORDER BY id;
